body {
  font-family: 'Times New Roman', Times, serif;
  margin: 2%;
}
div{
  box-sizing:border-box;
  border-radius: 10px;
  padding: 2%;
  margin: 0 0 2%;
}
#header {
  background-color: red;
  text-align: center;
}
#footer {
  background-color: red;
  text-align: center;
  clear: both;
}
#lnav{
  background-color: red;
  width:20%;
  float: left;
}
#rnav{
  background-color: red;
  width: 20%;
  float: right;
}
#main{
  background-color: red ;
  width: 60%;
  float:right;
}
a{
  font-size: normal;
  background-color: blue;
  text-decoration: underline;
}
a:hover{
  font-size: large;
  background-color: blue;
}
a:visited{
  font-size: large;
  background-color: red;
}
.hList{
  font-style: normal;
  background-color: red;
  text-align: center;
  position: relative;
}
.hList ul{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
}
.hList li{
  margin:10px;
}
